In [15]:
##################################################################################################
##################################################################################################


### Last Edit by Atef Bader: 4/20/2021


##################################################################################################

![image.png](attachment:image.png)

## Divvy

**Divvy** is a bicycle sharing system in the City of Chicago.

Click __[here](https://en.wikipedia.org/wiki/Divvy)__ to read more about **Divvy**


Click __[here](https://www.divvybikes.com/)__ to visit the official website for **Divvy**

<br>

This script will populate the historical data for Divvy - 4th Quarter of 2018 trips into Postgres server under the database name **chicago_divvy_trips** and table name **divvy_trips**
<br>
<br>

The CSV data file is collected from the following sites:

- https://www.divvybikes.com/system-data
- https://divvy-tripdata.s3.amazonaws.com/index.html

<br>
<br>

### PostgreSQL

We will collect the data from **Divvy** servers and store the data in a table on **PostgreSQL** server.

This python script will send a heartbeat to Divvy every 2 minutes to retrieve the  status of the Divvy dock stations and store the data on PostgreSQL server.

You need the package **psycopg2** to Connect to **PostgreSQL** server.

Execute the **pip install** command from the command window to install  the package listed bove:
- pip install psycopg2

In [16]:
import json
import pandas as pd
from pandas import ExcelWriter
from pandas import ExcelFile
import requests
import datetime
import time
import os
import psycopg2
import pandas as pd
import urllib
import json
import csv
from io import StringIO
import urllib
from pprint import pprint
from psycopg2.extensions import ISOLATION_LEVEL_AUTOCOMMIT

In [17]:
db_connection = psycopg2.connect(host='127.0.0.1',dbname="postgres", user="postgres" , password="root")



db_connection.set_isolation_level(ISOLATION_LEVEL_AUTOCOMMIT) 

cursor = db_connection.cursor()

# comment the following line if you already created the database 
# Only once you need to create the database

cursor.execute("CREATE DATABASE chicago_divvy_trips;")

DuplicateDatabase: database "chicago_divvy_trips" already exists

In [18]:
db_connection = psycopg2.connect(host='127.0.0.1',dbname="chicago_divvy_trips", user="postgres" , password="root")


cursor = db_connection.cursor()

In [19]:
db_connection.commit()

In [20]:
cursor.execute("DROP TABLE IF EXISTS divvy_trips")

In [21]:
db_connection.commit()

In [22]:
cursor.execute("""CREATE TABLE divvy_trips(
                
                trip_id INTEGER,
                start_time timestamp,
                end_time timestamp,
                bikeid INTEGER
                
               );""")

In [23]:
db_connection.commit()

In [24]:
 
data = pd.read_csv("Divvy_Trips_2018_Q4.csv") 
# Preview the first 5 lines of the loaded data 
data.head()

,trip_id,start_time,end_time,bikeid,tripduration,from_station_id,from_station_name,to_station_id,to_station_name,usertype,gender,birthyear
0,20983530,2018-10-01 00:01:17,2018-10-01 00:29:35,4551,"1,698.0",85,Michigan Ave & Oak St,166,Ashland Ave & Wrightwood Ave,Subscriber,Male,1992.0
1,20983531,2018-10-01 00:03:59,2018-10-01 00:10:55,847,416.0,13,Wilton Ave & Diversey Pkwy,144,Larrabee St & Webster Ave,Subscriber,Female,1982.0
2,20983532,2018-10-01 00:05:14,2018-10-01 00:14:08,6188,534.0,59,Wabash Ave & Roosevelt Rd,197,Michigan Ave & Madison St,Subscriber,Male,1986.0
3,20983533,2018-10-01 00:05:48,2018-10-01 00:18:46,6372,778.0,328,Ellis Ave & 58th St,419,Lake Park Ave & 53rd St,Subscriber,Female,1960.0
4,20983534,2018-10-01 00:07:29,2018-10-01 00:25:51,1927,"1,102.0",93,Sheffield Ave & Willow St,159,Claremont Ave & Hirsch St,Subscriber,Female,1993.0

In [25]:
df1 = data[['trip_id', 'start_time', 'end_time','bikeid']]

In [26]:
df1.head()

    trip_id           start_time             end_time  bikeid
0  20983530  2018-10-01 00:01:17  2018-10-01 00:29:35    4551
1  20983531  2018-10-01 00:03:59  2018-10-01 00:10:55     847
2  20983532  2018-10-01 00:05:14  2018-10-01 00:14:08    6188
3  20983533  2018-10-01 00:05:48  2018-10-01 00:18:46    6372
4  20983534  2018-10-01 00:07:29  2018-10-01 00:25:51    1927

In [27]:
sio = StringIO()
sio.write(df1.to_csv(index=None, header=None))  # Write the Pandas DataFrame as a csv to the buffer
sio.seek(0)  # Be sure to reset the position to the start of the stream

# Copy the string buffer to the database, as if it were an actual file
with db_connection.cursor() as c:
    c.copy_from(sio, "divvy_trips", columns=df1.columns, sep=',')
    db_connection.commit()

In [28]:
db_connection.close()